@import "tailwindcss";

@theme inline {
  --color-coffee-900: #130f0d;
  --color-coffee-800: #1c1614;
  --color-coffee-700: #2c2420;
  --color-coffee-600: #3e322c;
  --color-accent-gold: #d4af37;
  --color-accent-cream: #f5f5f0;
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-coffee-800);
  color: var(--color-accent-cream);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for a luxurious feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-coffee-900);
}
::-webkit-scrollbar-thumb {
  background: var(--color-coffee-700);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-gold);
}
